.login-container {
    height: 600px;
    width: 1000px;
    background-color: var(--white);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0,0,0,0.login-container .1);
}

.login-container h2, h3 {
    color: var(--dark-blue);
}

.login-container h2 {
    margin-top: 30px;
    text-align: center;
}

.login-container .login {
    position: relative;
    flex: 60%;
    padding: 40px;
    
}

.login-container .slideshow {
    flex: 40%;
    background-color: var(--dark-blue);
}

.login-container .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.login-container .inputs {
    margin: 30px 0;
}

input[type=password], input[type=text] {
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 8px;
    background-color: var(--background);
    background-image: linear-gradient(90deg, var(--background), #b0e1ff);
    border-left: 4px solid var(--green);
}

input::placeholder {
    color: var(--blue);
}

.login-container .email {
    margin-bottom: 15px;
}

.btn {
    width: 60%;
    padding: 10px 0;
    border-radius: 40px;  
    border: 0;  
    background-image: linear-gradient(174deg, var(--green), #5f9a4e);
    cursor: pointer;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.login-container .login-btn:hover {
    filter:brightness(1.login-container .1)
}

.login-container .btn-container{
    text-align: center;
    margin-bottom: 40px;
}

.login-container .signup-text{
    text-align: center;
}

.login-container .signup-text a {
    color: var(--dark-blue);
}

.login-container .error-msg {
    margin-top: 15px;
    padding: 5px;
    background-color: rgb(255, 206, 206);
    font-size: 14px;
    color: rgb(134, 0, 0);
    border: 1px solid rgba(134,0,0,0.login-container .1)
}

@media (orientation: portrait){
    .login-container .login-container {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .login-container .login-form {
        all: unset;
        
        background-color: red;
        position: relative;
    }

    .login-container .login{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

}
