@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-blue: #1a2c44;
    --blue: #457b9d;
    --light-blue: #a8dadc;
    --green: #8bd473;
    --white: #ffffff;
    --background: #e7f6ff;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.app-container {
    display: flex;
}

.content-container {
    position: relative;
    width: 100%;
    min-width: 1100px;
    background-color: var(--background);
}

@media (orientation: portrait){
    .content-container {
        min-width: 400px;
    }
}

